<html>
  
  <head>
    {% load static %}
    <link rel="stylesheet" href={% static './css/detail.css' %}>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block content %}
    
    <div class="container"> 
      <div class="card">
        <div class="card-body">
          <!-- <h1>{{ post.title }}</h1> -->
          <!--<p>{{ post.pub_date }}</p>-->
          <div class="firstbox">
            <div class="username">{{ post.author.username }}</div>
            <span class="deletechange">
              <a href="{% url 'edit' post.id %}"> 수정 </a>
              <span> | </span>
              <a href="{% url 'delete' post.id %}"> 삭제 </a>
            </span>
          </div>

          <p class="writingtime">{{ post.date }}</p>
          <p class="textdetail">{{ post.body }}
          </p> 
          </div>
      </div>
    </div>  
    <br>
    
    <!--댓글 입력 공간-->
    <form class="commentinput" method="post" action="{% url 'create_comment' post.id %}">
    {%csrf_token%}
    {{comment_form}}
    <input class="commentup" type="submit" value="입력">
  </form>

  <div class="commentlist">
  {% for comment in post.comment_set.all %}
  <p>{{comment}}</p>
  <p>{{comment.date}}</p>
  <hr>
  {% endfor %}  
  </div>

{% endblock %}
{% include 'footer.html' %}
</body>
</html>