<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href={% static './css/signup.css' %}>
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <img src={% static './img/logo.png' %}>
            </div>
            <div class="menu">
                <a href class="menuselect">Home</a>
                <a href class="menuselect">식팟 찾기</a>
                <a href class="menuselect">식팟 모으기</a>
            </div>
            <div class="login">
                <!--현재 로그인한 유저-->
                {% if user.is_authenticated %}
                {{user.username}}
                {% else %}
                <a href class="loginmenu">로그인</a>
                <a href class="signupmenu">회원가입</a>
                {% endif %}
            </div>
        </div>
        <div class="outbox">
            <div class="signupbox">
                <div class="textbox">
                    <div class="signment">회원가입 하기</div>
                    <div class="already">이미 계정이 있으신가요? <a href class="gologin">로그인 하기</a></div>
                    <form method="POST">
                        {% csrf_token %}
                        <div>
                            <input id="emailbox"
                            type="text" name="username" placeholder="이메일">
                        </div>
                        <div>
                            <div>
                                <input id="inputpwd"
                                type="password" name="password" placeholder="비밀번호">
                            </div>
                            <div>
                                <input id="checkpwd"
                                type="password" name="repeat" placeholder="비밀번호 확인">
                            </div>
                        </div>
                        <input id="submitbtn"
                        type="submit" value="계정 만들기">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class = "finbox1">
                <div class="contact">CONTACT US</div>
                <div class="contactbox">
                    <div class="number">+02 123 1234</div>
                    <div class="email">sig_pot@mail.com</div>
                </div>
                <div class="contact">INFORMATION</div>
                <div class="contactbox">
                    <div class="number">(주) CODE:1210 | 대표 이사 000 | 코드시 코드문구 일이동 멋쟁이로 00-0 | 개인정보관리책임자 : 000</div>
                    <div class="email">팩스번호 00-000-0000 | 문의시간 오전 10시-오후 10시</div>
                </div>
            </div>
            <div class="line"></div>
            <div class="copyright">Copyright SIGPOT.All Rights Reserved.</div>
        </div>
    </body>
</html>