@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
.signment{
    color: #FFB800;
    font-family: Pretendard;
    font-weight: bold;
    font-size: 1.35em;
    margin-bottom: 2.5%;
}
.already{
    font-family: Pretendard;
    font-size: 0.8em;
    margin-bottom: 8%;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 0% 0% 5% 0%;

}
input{
    width: 200%;
    height: 30%;
    border-radius: 5px;
    border: 1px solid #FFB800;
    margin-bottom: 7%;
    font-family: Pretendard;
}
#emailbox, #inputpwd, #checkpwd{
    padding-left: 10%;
}
#submitbtn{
    font-family: Pretendard;
    font-weight: 400;
    font-size: 17px;
    background-color: #FFB800;
    color: white;
}
a:link {
    color : black;
    font-weight: bold;
  }
a:visited {
    color : black;
    font-weight: bold;
  }
a:hover {
    color : #FFB800;
    font-weight: bold;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.signupbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 2px #bdbec6 ;
}

/* footer css */
.footer{
    margin-top: 8%;
    width: 100%;
    height:35%;
    background-color: black;

}
.copyright{
    font-family: Pretendard;
    color: white;
    font-size: 13px;
    margin-top: 30px;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 80%;
    height: 10px;
    border-bottom: 1px white;
}
.contactbox{
    display: flex;
    flex-direction: column;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 13px;
    margin-left: 15px;
}
.contact{
    font-family: Pretendard;
    font-weight: 600;
    font-size: 13px;
    margin-left: 150px;
}
.finbox1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* navë°” css */
.nav{
    width: 100%;
    height: 10%;
    box-shadow: 0px 2px 10px 0px #CACACA;
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.menuselect:link {
    color : black;
    text-decoration: none;
    font-weight: bold;
    margin: 0% 10% 0% 0%;
  }
.menuselect:visited {
    color : black;
    text-decoration: none;
    font-weight: bold;
  }
.menuselect:hover {
    text-decoration: none;
    color : #FFB800;
    font-weight: bold;
  }

.login{
    width: 15%;
}
.loginmenu:link {
    color : #FFB800;
    text-decoration: none;
    font-weight: bold;
    margin: 0% 10% 0% 0%;
  }
.loginmenu:visited {
    color : #FFB800;
    text-decoration: none;
    font-weight: bold;
  }
  .loginmenu:hover {
    text-decoration: none;
    color : #FFB800
  }
  
.signupmenu:link {
    color : black;
    text-decoration: none;
    font-weight: bold;
  }
.signupmenu:visited {
    color : black;
    text-decoration: none;
    font-weight: bold;
  }
.signupmenu:hover {
    text-decoration: none;
    color : black;
  }